@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
body {
  font-family: "Nanum Square", sans-serif;
}

.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  width: 400px;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #6c2dc7;
}

.graybox {
  float: right;
  background-color: gray;
  height: 100px;
  width: 400px;
  line-height: 100px;
  transform-origin: 100% 50%;
  animation: main 5s;
}
